* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5b5dbe;
    font-family: 'PT Sans Caption', sans-serif;
}

p,
h1,
h2,
h3,
h4,
span,
label,
option,
select {
    font-family: 'PT Sans Caption', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
}

/* Paleta de colores
#130702 #fafafc #d8e73a #5b5dbe */

/*==============INDEX============== */

/*_________Header__________ */

header {
    background: #130702;
    width: 100%;
    height: 122px;

    display: flex;
    position: fixed;
    top: 0%;
    justify-content: space-around;
    z-index: 10;

}

header img {
    width: auto;
    padding: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header ul {
    display: flex;

    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    gap: 50px;
}

/*___________Main___________ */

/*------ Portada de incio ------ */
.grid-inicio {
    height: 74vh;
    width: 100%;

    display: grid;

    margin-top: 122px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-inicio button {
    display: flex;

    justify-content: center;
    text-align: center;
    position: absolute;
    top: 75%;
}

.grid-inicio a {
    background: #d8e73a;
    color: #5b5dbe;

    padding: 14px 22px;
    font-size: 17px;
    border-radius: 20px;
    font-weight: bold;
}

.grid-inicio a:hover {
    background: #5b5dbe;
    color: #d8e73a;
}

.inicio-populares {
    background-image: url(../img/inicio/portada\ \(1\).png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-novedades {
    background-image: url(../img/inicio/portada\ \(2\).png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-categorias {
    background-image: url(../img/inicio/portada\ \(3\).png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------ Acera cel emprendimiento ------ */

#informacion {
    width: 100%;
    background-color: #fafafc;
}

.grid-informacion {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(8, auto);

    grid-template-areas:
        "lema   .   .   ."
        "img-apoyo-1    somos   img-apoyo-2  ."
        "img-apoyo-3    .   .   ."
        "img-apoyo-4  img-apoyo-5   objetivos   ."
        "personaliza    .   img-apoyo-6 ."
        "img-apoyo-7    .   .   ."
        "img-apoyo-8    .   .   ."
        "mapa .  localizacion   ."
    ;
}

.lema {
    height: 60px;
    padding: 10px;
    grid-area: lema;
    grid-column: span 4;

    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.somos {
    width: 335px;
    height: 150px;

    grid-area: somos;

    align-self: center;
    margin: 30px 0px 30px 60px;
    overflow: hidden;
}

.objetivos {
    width: 370px;
    height: 180px;

    grid-area: objetivos;

    align-self: flex-start;
    margin: 20px;
    padding: 0px 30px;
    overflow: hidden;
}

.personaliza {
    width: 400px;
    height: 220px;
    grid-area: personaliza;
    grid-column: span 2;

    align-self: center;
    justify-self: center;
    margin: 30px 30px 30px 175px;
    overflow: hidden;
}

.localizacion {
    width: 300px;
    height: 200px;
    grid-area: localizacion;

    align-self: flex-start;
    margin: 70px 30px 30px;
    overflow: hidden;
}

.titulos {
    font-size: 25px;
    color: #5b5dbe;
}

/* ------ Imagenes de apoyo ------ */

#img-apoyo-1 {
    width: 250px;
    height: 300px;
    background-color: aquamarine;

    justify-self: end;
    align-self: center;

    grid-area: img-apoyo-1;
}

#img-apoyo-2 {
    width: 250px;
    height: 200px;
    background-color: green;

    justify-self: center;
    align-self: center;

    margin: 10px;
    grid-area: img-apoyo-2;
    grid-column: span 2;
}

#img-apoyo-3 {
    width: 500px;
    height: 50px;
    background-color: saddlebrown;

    justify-self: start;
    align-self: center;

    margin: 0px 110px 50px;
    grid-area: img-apoyo-3;
    grid-column: span 2/4;
}

#img-apoyo-4 {
    width: 150px;
    height: 200px;
    background-color: lightcoral;

    justify-self: center;
    align-self: center;

    margin: 40px 10px 0px 10px;
    grid-area: img-apoyo-4;
}

#img-apoyo-5 {
    width: 405px;
    height: 200px;
    background-color: violet;

    justify-self: start;
    align-self: flex-start;

    grid-area: img-apoyo-5;
}

#img-apoyo-6 {
    width: 410px;
    height: 300px;
    background-color: darkcyan;

    justify-self: center;
    align-self: center;

    grid-area: img-apoyo-6;
    grid-column: span 2;
}

#img-apoyo-7 {
    width: 450px;
    height: 30px;
    background-color: olive;

    justify-self: start;
    align-self: center;

    margin: 0px 10px 0px 56px;
    grid-area: img-apoyo-7;
    grid-column: span 4;
}

#img-apoyo-8 {
    width: 450px;
    height: 30px;
    background-color: rgb(158, 1, 14);

    justify-self: center;
    align-self: center;

    margin: 10px 0px 50px;
    grid-area: img-apoyo-8;
    grid-column: span 4;
}

#mapa {
    width: 600px;
    height: 300px;
    background-color: rgb(16, 21, 63);

    justify-self: end;
    align-self: center;

    margin: 0px 30px 80px 0px;
    grid-area: mapa;
    grid-column: span 2;
}

/*___________Footer___________ */

.pie-de-pagina {
    width: 100%;

    background-color: #130702;
    color: #fafafc;

    text-align: center;
    padding: 40px;
}

/*==============POPULARES============== */

/* ------ Barra de populares ------ */

.pcontenedor {
    display: flex;
    flex-direction: row;
}

.pcontenedor h2 {
    width: 100%;
    background-color: #5b5dbe;
    color: #d8e73a;

    margin-top: 122px;
    padding: 18px 310px 18px 0px;
    font-size: 30px;

    text-align: center;
}

.pcontenedor select {
    background: #5b5dbe;
    color: #d8e73a;

    margin-top: 122px;
    padding: 14px 22px;
    font-size: 15px;

    text-decoration: none;
    border: none;
}

/* ------ Galeria populares ------ */

.grilla-galeria-populares {
    width: 90%;
    display: grid;

    grid-template-rows: repeat(3, 500px);
    grid-template-columns: repeat(3, 1fr);

    padding: 60px 0px;
    margin: auto;
    justify-items: center;
}

.grilla-galeria-populares img {
    width: 320px;
    height: 400px;

    object-fit: cover;
    border-radius: 30px;
}

/*==============NOVEDADES============== */

/* ------ Barra de novedades ------ */

.ncontenedor h2 {
    width: 100%;
    background-color: #5b5dbe;
    color: #d8e73a;

    margin-top: 122px;
    padding: 15px;
    font-size: 30px;

    text-align: center;
}

/* ------ Portada novedades  ------ */

.grilla-portada-novedades {
    width: 90%;
    display: grid;

    grid-template-columns: 2 1fr;
    grid-template-rows: 2 1fr;

    grid-template-areas:
        "video ."
        "img1 img2"
    ;

    gap: 20px;
    padding: 30px 0px;
    margin: auto;
    justify-content: center;
}

.grilla-portada-novedades video {
    grid-area: video;
    grid-column: span 2;
    justify-self: center;

    border-radius: 30px;
}

.img1 {
    grid-area: img1;
    justify-self: center;

    height: 440px;
    border-radius: 30px;
}

.img2 {
    grid-area: img2;
    justify-self: center;

    height: 440px;
    border-radius: 30px;
}

/* ------ Galeria ofertas y descuentos ------ */

.oferta-y-descuentos {
    text-align: center;
    color: #5b5dbe;
}

.galeria-ofertas-descuentos {
    width: 75%;
    justify-content: center;

    margin: auto;
    padding: 16px;
}

.lista-imagenes img {
    max-width: 320px;
    min-width: 320px;
    height: 370px;
    object-fit: cover;

    margin: 10px 20px;
    border-radius: 30px;
}

.lista-imagenes {
    display: flex;
    overflow-x: scroll;

    margin: 20px 0px;
}

/*==============CATEGORÍAS============== */

/* ------ Barra de novedades ------ */

.ccontenedor h2 {
    width: 100%;
    background-color: #5b5dbe;
    color: #d8e73a;

    margin-top: 122px;
    padding: 15px;
    font-size: 30px;

    text-align: center;
}

/* ------ Barra de navegación filtros ------ */

.filtros {
    display: flex;
    background-color: #5b5dbe;
    color: #fafafc;

    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 20px;

    font-size: 17px;
    font-weight: 400;
}

.filtros select {
    width: 100%;
    background-color: #d8e73a;
    color: #5b5dbe;

    padding: 5px 10px;
    font-weight: 600;
    font-size: 16px;
}

/* ------ Galeria categorias ------ */

.grilla-galeria-categoria {
    width: 90%;
    display: grid;

    grid-template-rows: repeat(3, 500px);
    grid-template-columns: repeat(3, 1fr);

    padding: 60px 0px;
    margin: auto;
    justify-items: center;
}

.grilla-galeria-categoria img {
    max-width: 320px;
    min-width: 320px;
    height: 400px;

    object-fit: cover;
    border-radius: 30px;
}

.grilla-galeria-categoria div {
    max-width: 300px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*==============PERFIL-CARRITO-FAVORITOS============== */

.fondo-de-pcf {
    width: 100%;
    margin-top: 122px;
}

/*___________Perfil___________ */

/* ------ Grilla de perfil ------ */

.grilla-perfil {
    width: 80%;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas:
        "titulo ."
        "botones ."
        "usuario tarjeta"
    ;

    justify-content: center;
    margin: auto;
    padding: 30px 0px;
}

/* ------ Título de perfil ------ */

.titulo-perfil {
    color: #5b5dbe;
    font-size: 30px;
    font-style: italic;

    grid-area: titulo;
    grid-column: span 2;
}

/* ------ Botones de inicio y registro ------ */

.botones-inicio-registro {
    display: flex;
    justify-content: center;

    grid-area: botones;
    grid-column: span 2;

    gap: 50px;
    padding: 10px;
}

.botones-inicio-registro button {
    background-color: #d8e73a;
    color: #5b5dbe;

    padding: 14px 20px;
    border-radius: 17px;
    font-size: 18px;
}

.botones-inicio-registro button:hover {
    background: #5b5dbe;
    color: #d8e73a;
}

/* ------ Usuario ------ */

.usuario {
    display: flex;
    align-items: center;

    grid-area: usuario;
}

#shakira {
    width: 200px;
    height: 200px;
    margin: 20px 30px;
    border-radius: 180px;
}

#datos {
    width: 300px;
    display: flex;
    flex-direction: column;
}

/* ------ Tarjeta ------ */

.tarjeta {
    display: flex;
    align-items: center;

    grid-area: tarjeta;
}

#tarjeta {
    width: 200px;
    height: 200px;
    margin: 20px 30px;
}

/*___________Carrito___________ */

/* ------ Grilla de carrito ------ */

.grilla-carrito {
    width: 80%;
    display: grid;

    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "titulo ."
        "img info"
        "compras ."
    ;

    justify-content: center;
    margin: auto;
    padding: 30px 0px;
}

/* ------ Título ------ */

.titulo-carrito {
    color: #5b5dbe;
    font-size: 30px;
    font-style: italic;

    grid-area: titulo;
    grid-column: span 2;
}

/* ------ Imagen principal ------ */

.img-principal {
    display: flex;
    justify-content: center;
    margin: 30px 20px;

    grid-area: img;
}

.img-principal img {
    width: 400px;
    max-height: 450px;

    object-fit: cover;
    object-position: top;

    border-radius: 30px;
}

/* ------ Grilla de información de producto ------ */

.grilla-info-producto {
    grid-area: info;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "info     ."
        "talles   ." 
        "colores  ."
        "precio   comprar"
    ;

    margin: 30px 0px;
}

.informacion-de-producto {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    grid-area: info;
    grid-column: span 2;
}

.informacion-de-producto h3{
    color: #130702;

    padding-bottom: 10px;
    font-size: 30px;
}

/* ------ Talles ------ */

.talles {
    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-area: talles;
    grid-column: span 2;

}

.talles p {
    color: #130702;
    font-size: 18px;
}

/* ------ Colores ------ */

.colores {
    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-area: colores;
    grid-column: span 2;
}

#rojo{
    background-color: #DC143C ;
    color: #130702;

    padding: 5px 10px;
    border-radius: 30px;
}

#gris {
    background-color: #696969;
    color: #130702;

    padding: 5px 10px;
    border-radius: 30px;
}

#celeste {
    background-color: #1E90FF;
    color: #130702;

    padding: 5px 10px;
    border-radius: 30px;
}

#amarillo {
    background-color: #FFD700;
    color: #130702;

    padding: 5px 10px;
    border-radius: 30px;
}

.colores p {
    color: #130702;
    font-size: 18px;
}

/* ------ Precio ------ */

.precio {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #5b5dbe;

    font-size: 40px;

    grid-area: precio;
}

/* ------ Botón comprar ------ */

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar button {
    color: #d8e73a;
    background-color: #587ec2;

    font-size: 26px;
    padding: 10px 20px;
    border-radius: 25px;

    text-transform: uppercase;
    font-weight: bold;

    grid-area: comprar;
}

.comprar button:hover {
    background: #d8e73a;
    color: #587ec2;
}

/* ------ Mas compras ------ */

.mas-compras {
    display: flex;

    flex-direction: column;
    justify-self: center;
    padding: 10px;

    grid-area: compras;
}

.mas-compras img {
    width: 360px;
    height: 340px;

    object-fit: cover;
    border-radius: 30px;
    margin: 10px 30px;
}

.mas-compras div {
    display: flex;

    gap: 20px;
    margin: 10px 50px;
}

/*___________Favoritos___________ */

/* ------ Grilla de favoritos ------ */

.grilla-favoritos {
    width: 80%;
    display: grid;

    grid-template-columns: 1 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "titulo"
    "galeria"
    ;

    margin: auto;

    padding: 30px 0px;
    padding-bottom: 60px;
}

/* ------ Titulo favoritos ------ */

.titulo-favoritos {
    color: #5b5dbe;
    font-size: 30px;
    font-style: italic;

    grid-area: titulo;
}

/* ------ Galeria favoritos ------ */

.galeria-favoritos {
    display: flex;
    overflow-x: scroll;

    padding: 10px 0px;
    margin: 20px 30px;

    grid-area: galeria;
}

.galeria-favoritos img {
    max-width: 320px;
    min-width: 320px;
    height: 370px;
    object-fit: cover;

    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 30px;
}

.galeria-favoritos div{
    max-width: 300px;

    display: flex;
    justify-content: space-evenly;
    align-self: center;
}